* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #7F00FF 0%, #E100FF 100%)
}

.container {
    width: 541px;
    height: 498px;
    padding: 30px 20px;
    background: #FFFFFF;
    border-radius: 5px;
}

input {
    width: 342px;
    height: 40px;
    border-radius: 5px;
    font-weight: 900;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    border: 3px solid rgb(209, 211, 212, 0.4);
    padding-left: 20px;
    margin-bottom: 15px;
}

.add {
    width: 130px;
    height: 40px;
    background: #8052EC;
    border-radius: 5px;
    font-weight: 900;
    font-size: 17px;
    line-height: 2px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    float: right;
    margin-bottom: 15px;

}

.add:hover {
    opacity: 0.8;
}

.add:active {
    opacity: 0.6;
}

.item {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    list-style: none;
    height: 30px;
    background: #E4E4E4;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 15px 0;
    /* border: 1px solid purple; */
}

.item-icone{
    flex: 10%;
    text-align: center;
    /* border: 1px solid yellow; */
}

.item-nome{
    flex: 70%;
    padding-left: 10px;
    /* border: 1px solid red; */
}

.item-botao {
    flex: 20%;
    /* border: 1px solid orangered; */
}

.delete{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    background: red;
    color: white;
    font-size: 16px;
    height: 30px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;

    /* border: 1px solid blue; */
}

.fa-trash {
    color: white;
}

.fa-rocket {
    color: #4F0FC5;
}

.fa-check {
    color: #027a02;
}

.item.clicado {
    background: #b8f0b8;
}

.item.clicado .item-nome {
    text-decoration: line-through;
    color: grey;
}