/* 
Propriedades:

- top:
- bottom: 
- right: 
- left: 

* position static (padrão): não aceita valores de top, bottom, right ou left */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200vh;
    width: 200vw;
}

.div-dad{
    height: 350px;
    width: 350px;
    background-color: #FF1396 ;
}

.div-son{
    height: 150px;
    width: 150px;
    background-color: #FFFF00 ;
    position:static;
}

.oi{
    height: 100px;
    width: 100px;
    background-color: #FF0000 ;
}

/* * position fixed: fixa o elemento na tela;*/

.div-dad2{
    height: 350px;
    width: 350px;
    background-color: #FF9956 ;
    position: fixed;
    top: 20px;
    left: 500px;
}

.div-son2{
    height: 150px;
    width: 150px;
    background-color: #00FF98 ;
}

.oi2{
    height: 100px;
    width: 100px;
    background-color: #000053 ;
}

/* * position sticky: age como um adesivo, fixa o elemento só onde eu determinar; */

.div-dad3{
    height: 350px;
    width: 350px;
    background-color: #FF0530 ;
    position: sticky;
    top: 200px;
    left: 300px;
}

.div-son3{
    height: 150px;
    width: 150px;
    background-color: #F15008 ;
    position: fixed;

}

.oi3{
    height: 100px;
    width: 100px;
    background-color: #0FF053 ;
}