*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    height: 200px;
    width: 200px;
    background-color: blue;
}

@media (max-width: 500px){
    div{
        background-color: red;
        height:100px;
        width:100px;
    }
}