* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #FFFFFF;
}

.fundo {
    background-image: url(./img/fundo2.jpg);
    height: 100vh;
    padding: 35px 65px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    /* border: 2px solid cyan; */
}

header img {
    /* border: 1px solid orangered; */
    width: 180px;
}

nav {
    display: flex;
    gap: 30px;
}

select {
    background: transparent;
    color: #FFFFFF;
    font-size: 14px;
    height: 35px;
    width: 100px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    outline: none;
}

option {
    background: grey;
}

.enter {
    background: #E50914;
    border: 1px solid #E50914;
    border-radius: 5px;
    width: 80px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

.enter:hover {
    opacity: 0.8;
}

.enter:active {
    opacity: 0.6;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid cyan; */
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
}

h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.first {
    font-size: 19px;
    margin-bottom: 30px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid orangered; */
    width: 100%;
    margin-bottom: 50px;
}

input {
    width: 450px;
    height: 60px;
    padding: 15px;
    font-size: 16px;
    outline: none;
    border-radius: 3px;
}

.go {
    background: #E50914;
    border: none;
    border-radius: 2px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 15px 0 25px;
    height: 60px;
}

.go:hover {
    opacity: 0.8;
}

.go:active {
    opacity: 0.6;
}

section {
    background: #000000;
    border-top: 8px solid #303030;
    padding: 100px 0;
}

.options {
    /* position: relative; */
    display: flex;
    height: 480px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.container-options {
    width: 560px;
    margin: 50px;
    /* border: 1px solid yellow; */
}

.title-options {
    font-size: 50px;
    margin: 30px;
    text-align: left;
    font-weight: bold;
}

.text-options {
    font-size: 24px;
    margin: 30px;
    text-align: left;
}

.tv-container {
    position: relative;
    width: 550px;
    height: 480px;
    margin-right: 75px;
    /* border: 1px solid cyan; */
}

.tv-img {
    width: 100%;
    /* border: 1px solid darkblue; */
}

.first-video {
    width: 392px;
    height: 222px;
    position: absolute;
    top: 90px;
    right: 80px;
    /* border: 1px solid green; */
}

.video1 {
    width: 390px;
}

.mobile-options {
    position: relative;
}

.mobile-text {
    margin-right: 80px;
}

.mobile-img {
    width: 40%;
}

.mobile-img-container {
    position: absolute;
    left: 100px;
    top: 310px;
    display: flex;
    gap: 10px;
    align-items: center;
    background: #000000;
    border: 2px solid #303030;
    border-radius: 10px;
    width: 330px;
    padding: 10px;
}

.mobile-folder {
    width: 50px;
}

.title-mobile {
    font-weight: bold;

}

.text-mobile {
    color: #0054E4;
    font-weight: 400;
}

.device-container {
    position: relative;
    width: 550px;
    height: 480px;
    margin-right: 75px;
    padding-top: 50px;
    /* border: 1px solid cyan; */
}

.device-img {
    width: 100%;
    /* border: 1px solid darkblue; */
}

.seccond-video {
    width: 350px;
    height: 200px;
    position: absolute;
    top: 94px;
    right: 98px;
    /* border: 1px solid green; */
}

.video2 {
    width: 340px;
}

.kids-img {
    height: 130%;
    margin-left: 120px;
}

.faq-lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-question {
    font-size: 48px;
    text-align: center;
    margin-bottom: 40px;
}

.faq-lista dt {
    width: 800px;
    height: 70px;
    background: #303030;
    border: 0;
    font-size: 24px;
    text-align: left;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 8px;
}

.btn-img {
    width: 20px;
}

.faq-lista dd {
    width: 800px;
    background: #303030;
    border: 0;
    font-size: 24px;
    padding: 50px 30px;
    margin-bottom: 8px;
}

.already {
    margin-top: 60px;
}

.js-accordion dd {
    display: none;
}

.js-accordion dt::after {
    content: "+";
    margin-left: 10px;
}

.js-accordion dt.ativo::after {
    content: "x";
}

.js-accordion dd.ativo {
    display: block;
    animation: slideDown 0.5s forwards;
}

footer {
    background: #000000;
    padding: 80px 200px;
    border-top: 8px solid #303030;

}

.phone {
    font-size: 16px;
    color: #949393;
}

.rodape {
    margin: 30px 0;
    display: grid;
    grid-template-rows: 40px 40px 40px 40px 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

a {
    color: #949393;
    font-size: 13px;
    text-decoration: none;
    position: relative;
}

/* 
.foot:after {
    content: "";
    width: 0%;
    height: 2px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    background-color: #949393;
}

.foot:hover:after {
    width: 70%;
} */


.end {
    height: 50px;
    width: 150px;
    font-size: 16px;
    color: #949393;
    border: 1px solid #949393;
    border-radius: 2px;
}

.last {
    color: #949393;
    margin-top: 30px;
    font-size: 13px;
}